matplotlib
python-dateutil
cycler
kiwisolver
numpy
pyparsing
six
wheel
setuptools
pyparsing
distro
docopt
requests
idna
chardet
urllib3
certifi
ngrok
bs4
beautifulsoup4
pandas
unicode
nltk
tokenizer
toktok
stopwords
vaderSentiment
streamlit
soup
